<h1>Welcome to CSE Motors!</h1>
<div class="hero">
    <img src="../images/vehicles/vehicles/delorean.jpg" alt="vehicle" srcset="
        ../images/vehicles/vehicles/delorean-tn.jpg 500w,
        ../images/vehicles/vehicles/delorean.jpg 1000w"
        sizes="(max-width: 600px) 100vw, 
                (max-width: 1200px) 100vw"
        >
    <div id="heroMessage">
        <span>DMC Delorean</span>
        <p>3 Cup Holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dicet</p>
        <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="../images/site/own_today.png" alt="Own today" >
        </a>
    </div>
</div>

<div class="information">
    <div class="reviews">
        
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast its almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road" (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futurist ride of our day" (4.5/5)</li>
            <li>"80's living and I love it! (5/5)</li>
        </ul>
    </div>
    

    <div class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="container">
            <div class="upgradeCard">
                <div class="imgCard">
                    <img src="../images/upgrades/bumper_sticker.jpg" alt="bumper_sticker" >
                </div>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    Bumprt Sticker
                </a>
            </div>
            <div class="upgradeCard">
                <div class="imgCard">
                <img src="../images/upgrades/flame.jpg" alt="flame"> 
                </div>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    Flame Decals
                </a>
            </div>
            <div class="upgradeCard">
                <div class="imgCard">
                    <img src="../images/upgrades/flux-cap.png" alt="flux-cap"> 
                </div>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <span>Capacitord</span>
                </a>
            </div>
            <div class="upgradeCard">
                <div class="imgCard">
                    <img src="../images/upgrades/hub-cap.jpg" alt="hub-cap">
                </div>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <span>Hub Caps</span>
                </a>
            </div>  
        </div>
    </div>
        
</div>
